@model SumViewModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>We have a total of @Model.VehicleMakesSum car makes and @Model.VehicleModelsSum models.</p>
</div>
